{% extends 'system_base.html' %}
{% load bootstrap3 %}

{% block navbar_li %}
	<li class="active"><a href="#">Billing</a></li>
	<li><a href="#">Evaluation</a></li>
{% endblock %}

{% block content %}
	<table style="margin:0px">
		<tr>
			<td class="left-content">
			{% block left-content %}
				{% include 'stub.html' %}					
				<form method="get" id='srch_stud' action="javascript:searchStudent('srch_stud')" class="form-search"> {% csrf_token %}
					<div class="input-group">
						<div class="input-group-addon">
							<select id="item_search_filters" type="radio" >
								<option value="id_num"/>ID Number</option>
								<option value="last_name"/>Last Name</option>
								<option value="first_name"/>First Name</option>
							</select>
						</div>
						<input id='seach_student' type="text" class="form-control" placeholder="Search">
						<span class="input-group-btn">
							<button id="but" class="btn btn-success" type="submit">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div><!-- /btn-group -->
				</form>
				<table id='stud_list' class="table table-hover table-condensed">
					
					<caption ><font color="#0747E4"> Result </font></caption>
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Designation</th>
						</tr>
					</thead>
					<tbody>
					    
					   
						<!--{% for student in students %}
							<tr>
								<td>{{ student.stud_id }}</td></a>
								<td>
										{{ student.lastname}} {{' '}}
										{{ student.firstname}} {{' '}}
										{{ student.mi}} {{' '}} 
								</td>
								<td>{{ student.last_school_att}}</td>
							</tr>
						{% endfor %}-->
					</tbody>
				</table>
			{% endblock %}
			</td>			
			<td class="right-content">
			{% block right-content%}
			{% endblock %}
			</td>
		</tr>
	</table>
{% endblock %}