{% extends './billing/base.html' %}

{% block right-content %}
<h3>Current Bill</h3>
<form class="form-search">
	<div class="input-group">
		<div class="input-group-addon">
			<select id="item_search_filters" type="radio">
				<option value="item_code"/>Item Code
				<option value="item_name"/>Item Name
			</select>
		</div>
		<input type="text" class="form-control" placeholder="Add an item">
		<span class="input-group-btn">
			<button class="btn btn-success" type="button">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</span>
		
	</div><!-- /btn-group -->
	<div>
	  <li style="margin-left:105px">
            <ul id="bill_info" class="plate" type="none">
            <!-- <li><strong>{{user.name}}</strong></li>
            <li>201047791</li>
            <li>High School, 8-A</li>
            <li>Academic Status: OK</li>-->
            <li>Billing Profile: PAYING</li>
        </ul>
       </li>
	    
	</div>
</form>
{% endblock %}